In [1]:
import pandas as pd
import numpy as np

In [31]:
def show_data():
  df2 = pd.read_csv('Cartera_Final_2.csv',low_memory=False)
  df2.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace = True)
  df2.reset_index()
  df2 = df2[['OBLIGACION','MUNICIPIO CLIENTE', 'MONTO', 'VALOR CUOTA', 'CUOTAS PACTADAS','CUOTAS PENDIENTES', 'CALIFICACION CIERRE', 'VENCIDA', 'DIAS VENCIDO','CAPITAL VEN','MORA', 'FEC ULT.PAGO','FEC PROXIMO PAGO', 'VENCIMIENTO FINAL', 'Fecha']] 
  return df2

In [34]:
df2 = show_data()

In [37]:
df2.groupby("OBLIGACION").max()

/home/diego-aaa/anaconda3/envs/dash-course/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,MUNICIPIO CLIENTE,MONTO,VALOR CUOTA,CUOTAS PACTADAS,CUOTAS PENDIENTES,CALIFICACION CIERRE,VENCIDA,DIAS VENCIDO,CAPITAL VEN,MORA,FEC PROXIMO PAGO,VENCIMIENTO FINAL,Fecha
OBLIGACION,,,,,,,,,,,,,
29179,YOPAL,24000000,1072733.0,1.0,1.0,E,1037679,779,1037679,847825,2015-01-12,2015-01-12,2018-01-01
30827,AGUAZUL,15000000,672708.0,12.0,12.0,E,6716353,869,6716353,5519792,2015-01-04,2016-01-03,2017-08-01
33006,HATO COROZAL,10000000,503092.0,6.0,6.0,E,2476048,749,2476048,1420986,2015-01-08,2015-01-12,2017-08-01
33313,YOPAL,5800000,974305.0,1.0,1.0,E,873989,798,873989,828082,2015-12-06,2015-12-06,2017-08-01
33767,YOPAL,22000000,983839.0,5.0,5.0,E,4454037,539,4454037,1962352,2016-01-03,2016-01-07,2017-08-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112000110,TAME,1000000,1002850.0,1.0,1.0,A,0,0,0,0,2021-03-12,2020-11-08,2021-08-01
2112000111,TAME,4000000,888018.0,6.0,6.0,A,0,0,0,0,2021-08-12,2023-08-26,2021-08-01
2112000112,TAME,2000000,161674.0,18.0,18.0,A,0,0,0,0,2021-07-10,2023-02-20,2021-08-01
2112000113,TAME,20000000,2886247.0,12.0,12.0,A,0,0,0,0,2021-12-20,2022-08-27,2021-08-01
2112000114,SIN UBICACION,5000000,926262.0,8.0,8.0,A,0,0,0,0,2021-07-12,2022-12-22,2021-08-01

In [2]:
def load_data():
   df = pd.read_csv('Cartera_Final_2.csv',low_memory=False, nrows=10000)
   df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace = True)
   df.reset_index()
   return df

In [3]:
df = load_data()

In [4]:
df.columns

Index(['NRO SOLICITUD', 'OBLIGACION', 'PAGARE', 'NOM TIPOCLIENTE', 'REGION',
       'MUNICIPIO CLIENTE', 'UBICACIO CLIENTE', 'MONTO', 'FEC SOLICITUD',
       'FEC APROBA', 'FEC DESEMBOLSO', 'VALOR CUOTA', 'CUOTAS PACTADAS',
       'CUOTAS PENDIENTES', 'PERIODICIDAD', 'CALIFICACION CIERRE', 'LINEA',
       'COD MODALIDAD', 'SALDO OBLIGACION', 'VENCIDA', 'DIAS VENCIDO',
       'CAPITAL VEN', 'INTERES VEN', 'MORA', 'COMISION', 'FEC ULT.PAGO',
       'FEC PROXIMO PAGO', 'VENCIMIENTO FINAL', 'PORCENTAJE PAGO',
       'TIPO CREDITO', 'Fecha', 'TASA_NOM_ANUAL', 'TASA_PERIODICA', 'ID', 'PP',
       'CP', 'GENERO', 'EDAD', 'NIVEL DE ESTUDIOS'],
      dtype='object')

In [5]:
def cap_vencido():
    cap_ven = df['CAPITAL VEN'].sum()
    return cap_ven

In [6]:
def cap_pendiente():
    cap_pen = df['CP'].sum()
    return cap_pen

In [7]:
print(cap_vencido())
print(cap_pendiente())

17220088258
1032708828

In [8]:
pen_pago = list(df['PP'].value_counts())[1]
pen_pago

1592

In [9]:
def deudores_pen():

    total = df['PP'].count()
    por_deudores = (pen_pago/total)*100
    return round(por_deudores,2)

In [10]:
df.shape

(10000, 39)

In [11]:
df['FEC ULT.PAGO'].isna().value_counts()

False    9534
True      466
Name: FEC ULT.PAGO, dtype: int64

<sub>hola</sub>